{{outlet}}

<h1>This is home</h1>
<ul id="todo-list">
  {{#each todo in model}}
      <li>
          <input type="checkbox" class="toggle">
          <label>{{todo.title}}</label><button class="destroy"></button>
      </li>
  {{/each}}
</ul>